
.Fejlec {

    position:sticky;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background: black;
   
    color: white;
    
    font-size: 15px;
    padding-top: 20px;
    padding-left: 40px;
    
        
    
}


.icon {
    padding-right: 5px;
    padding-left: 10px
}
.c:hover{
color:#ad9463;
}

.right {
    float: right;
    padding-right: 20px
}

@media (max-width: 912px) { 
	.Fejlec{
		display: none;
    }
}

.parallax {
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}


.egy{
min-height:900px; 
background-image: url("../Img/placeholder.png")
}





.whitesmoke {
    background-color:#f7f7f7
}

.gold {
    color:#ad9463
}

.bgold {
    background-color: #ad9463;
}




.LocalContainerVariable {
    padding-left: 5%;
    padding-right: 5%;
}


.center {
position: absolute;

opacity: 0.8;


bottom:20%;
top: 20%;

padding:20px;

}

.belsoLista {
    list-style: none;
}

.BookButton{
    margin-top: 5;
    
    background-color: #56482d;
    text-align: center;
    overflow: hidden;
    border-radius: 45px;
    color: white;
    width: 30%;
    padding:8px;
   
}

.BookButton:hover{
   
    background-color:black;
    transition:ease 0.40s;
    color: white;
}

.py-custom{
    padding-bottom: 0;
    margin-bottom: 0;
}