
.size{
      width:inherit;
      height: inherit;
      display: block;
     
   }
.imgplace{
       position: relative;
       overflow: hidden;
       
 }

   .imgplace:hover .overlay {
    opacity: 1;

    
  }
  .imgplace:hover .text{
    transform:  translateY(0px);
    
  }
  .imgplace:hover .size{
      transform: scale(1.2);
      transition: transform 0.5s;
  }


  .overlay {
    position: absolute;
    top: 0;
  
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0 , 0.7);
    transition: opacity 0.5s;
    
    
  }


  .text {
    color: white;  
    transform:  translateY(210px);
    transition: transform 0.5s;
    transition: .8s ease;
   
    color: white;
   
    padding: 20px;
    
    
  }

